/* Reset default margin and padding */


/* Set background color and image */
body {
  background-image: url('./bg.jpg');
  background-repeat: no-repeat;
  background-size: 160%;
  background-position:center;

  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg{
  margin: 200px 250px 0;
  background-color: #153945;
  border:5px solid white;
  border-radius: 50px;
  padding: 1px;
}

/* Add padding to the page */
.container {
  padding: 150px;
}

/* Style the page heading */
h1 {
  font-size: 54px;
  font-weight: bold;
    color: #eaeaea;
  margin-bottom: 20px;
  text-align: center;
}

/* Style the page heading */
h6 {
  font-size: 36px;
  font-weight: bold;
    color: #eaeaea;
  text-align: center;
  margin: 10px;
}
/* Add a subheading */
h2 {
  font-size: 48px;
  font-weight: bold;
    color: #eaeaea;

  text-align: center;
}
/* Add a subheading */
h4 {
  font-size: 32px;
  font-weight: bold;
    color: #eaeaea;
  text-align: center;
  margin: 20px;
}

/* Add a subheading */
h5{
  font-size: 28px;
  font-weight: bold;
    color: #eaeaea;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  line-height: 62px;
  justify-content: center;
}

input {
  display: inline-block;
  margin: 10px 20px 0 20px;
  border-radius: 10px;
  width: 200px;
  height: 36px;
  /* box-shadow: inset; */
  box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
}

form{
  font-size: 30px;
    color: #eaeaea;
  margin-bottom: 20px;
  text-align: center;
}


label {
  font-size: 24px; /* or any other value you prefer */
  font-weight: bold;
  text-align: center;
}


/* Style paragraphs */
p {
  font-size: 18px;
  line-height: 1.5;
  color: #eaeaea;
  margin-bottom: 20px;
  text-align: justify;
}

a{
  color: aqua;
}

button {
  padding: 7px 14px; /* increase padding to make the button bigger */
  font-size: 24px; /* increase font-size to make the text bigger */
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: #3e6d7d; /* change background color to blue */
  border-radius: 10px;
  text-decoration: none;
  margin:5px 20px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
	--tw-shadow-color: #06b6d4;


}


/* Style code blocks */
code {
  font-family: 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 16px;
  background-color: #f9f9f9;
  padding: 5px;
  border-radius: 5px;
  color: #eaeaea;   
}
